<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequelize</title>
</head>
<body>
    <p>Ir para a <a href="/">Seção home</a></p>
    <p>Ir para a <a href="/users/create/">seção de cadastrar</a></p>
    <hr>
    {{{body}}}
</body>
</html>